---
import { Image } from "astro:assets";
import alter_home from "../assets/alter_home.png";
import BaseSection from "../layouts/base_section.astro";
---

<BaseSection
  class="h-screen flex flex-col gap-y-16 items-center border-b border-neutral-200 text-center sm:px-6 lg:px-8 pt-12 shadow-inner"
>
  <div class="flex flex-col items-center justify-center gap-y-6 px-4">
    <a aria-label="Home" href="#" class="flex items-center gap-x-4">
      <img src="/src/assets/alter_logo.png" width="45" height="45" />
    </a>
    <h1
      class="max-w-4xl font-display text-3xl sm:text-6xl font-semibold tracking-tight text-neutral-900"
    >
      <span class="relative whitespace-nowrap text-primary-400">
        <svg
          aria-hidden="true"
          viewBox="0 0 418 42"
          class="absolute left-0 top-[65%] h-[0.58em] w-full fill-primary-100"
          preserveAspectRatio="none"
          ><path
            d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
          ></path>
        </svg>
        <span class="relative">Operating System</span>
      </span>
       for textile manufacturers
    </h1>
    <p class="max-w-2xl text-sm sm:text-base text-slate-600">
      Track production pipeline, keep tabs on inventory, create design
      catalogues, understand operation costs and manage employees
    </p>
    <div
      class="mt-4 flex flex-col items-center sm:flex-row justify-center gap-6"
    >
      <a
        class="group relative inline-flex items-center overflow-hidden rounded-full bg-primary-400 px-8 py-3 text-white focus:outline-none focus:ring hover:bg-primary-500"
        href="/download"
      >
        <span class="absolute -end-full transition-all group-hover:end-4">
          <svg
            class="h-5 w-5 rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
        </span>

        <span class="font-medium transition-all group-hover:me-4">
          Try Alter
        </span>
      </a>
      <a
        class="group inline-flex ring-1 items-center justify-center rounded-full py-3 px-6 text-sm focus:outline-none ring-neutral-200 text-neutral-700 hover:text-neutral-900 hover:ring-neutral-300 hover:bg-neutral-50 active:bg-neutral-100 active:text-neutral-600 focus-visible:outline-primary-400 focus-visible:ring-neutral-300 transition-colors"
        href="/"
      >
        <svg
          aria-hidden="true"
          class="h-3 w-3 flex-none fill-primary-400 group-active:fill-current"
          ><path
            d="m9.997 6.91-7.583 3.447A1 1 0 0 1 1 9.447V2.553a1 1 0 0 1 1.414-.91L9.997 5.09c.782.355.782 1.465 0 1.82Z"
          ></path>
        </svg>
        <span class="ml-3">Watch video</span>
      </a>
    </div>
  </div>
  <div
    class="max-w-6xl h-full mx-4 sm:p-2 rounded-t-lg sm:rounded-t-xl bg-neutral-50 shadow-[0px_-10px_20px_5px_#0165FF10]"
  >
    <Image
      src={alter_home}
      alt="Alter's Home Screen"
      class="rounded-t-md sm:rounded-t-lg border border-neutral-200"
    />
  </div>
</BaseSection>
