---
import { Image } from "astro:assets";
import AlterLogo from "../assets/alter_logo.png";
---

<header class="fixed top-0 w-full py-4 border-b border-slate-200/40">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <nav class="relative z-50 flex justify-between">
      <div class="flex items-center md:gap-x-12">
        <a aria-label="Home" href="#" class="flex items-center gap-x-4">
          <Image
            alt="Alter Logo"
            src="/src/assets/alter_logo.png"
            width="45"
            height="45"
          />
        </a>
        <div class="hidden md:flex md:gap-x-6">
          {
            ["Features", "Pricing", "FAQs"].map((item) => (
              <a
                class="inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:text-slate-900"
                href={`#${item.toLowerCase()}`}
              >
                {item}
              </a>
            ))
          }
        </div>
      </div>
      <div class="flex items-center gap-x-5 md:gap-x-8">
        <div>
          <a
            class="inline-block rounded-lg px-2 py-1 text-sm text-slate-700 hover:text-slate-900"
            href="/login"
          >
            Log In
          </a>
        </div>
        <a
          href="#waitlist"
          class="text-primary-500 items-center font-medium gap-3 text-sm inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-2.5 rounded-full active:bg-primary-600 active:text-white bg-primary-100 hover:bg-primary-200"
        >
          Book a Demo
        </a>
      </div>
    </nav>
  </div>
</header>
