---
import BaseLayout from "../layouts/base_layout.astro";
import Features from "../templates/features";
import GraphFeature from "../templates/graph_feature.astro";
import Hero from "../templates/hero.astro";
import { StockPage } from "../previews/stock_page";
---

<BaseLayout>
  <main class="w-full">
    <!-- <Navbar /> -->
    <Hero />
    <Features client:idle />
    <GraphFeature />
    <div class="relative h-screen">
      <StockPage client:load />
    </div>
  </main>
</BaseLayout>
