---
import BaseLayout from "../layouts/base_layout.astro";
import Features from "../templates/features";
import GraphFeature from "../templates/graph_feature.astro";
import Hero from "../templates/hero.astro";
import Faq from "../templates/faq.astro";
---

<BaseLayout>
  <main class="w-full">
    <Hero />
    <Features client:idle />
    <GraphFeature />
    <Faq />
  </main>
</BaseLayout>
