---
import clsx from "clsx";

type Props = {
  id?: string;
  class?: string;
};

const { id, class: className }: Props = Astro.props;
---

<section
  id={id}
  class={clsx(
    "mx-auto w-full overflow-hidden min-h-screen flex flex-col items-center py-20 px-4 sm:px-12 md:px-20",
    className
  )}
>
  <slot />
</section>
